www.{$HAYDEV_DOMAIN} {
	redir https://{$HAYDEV_DOMAIN}{uri} permanent
}

{$HAYDEV_DOMAIN} {
	encode zstd gzip

	@documentUpload path /api/documents/upload
	request_body @documentUpload {
		max_size 26MB
	}

	@standardRequest {
		not path /api/documents/upload
	}
	request_body @standardRequest {
		max_size 512KB
	}

	reverse_proxy 127.0.0.1:3000 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Real-IP {remote_host}
	}
}
